{% extends "base.html" %} {% block content %}
<div class="mt-4 d-flex">
  <h5 class="align-self-end">
    <i class="fas fa-user-friends"></i> จัดการข้อมูลสินค้า
  </h5>
  <a href="{% url 'add_item' %}" class="btn btn-orange ml-auto"
    ><i class="fas fa-user-plus"></i> เพิ่มสินค้าใหม่</a
  >
</div>
<hr class="mt-2 mb-3 hr-orange" />
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">รหัสสินค้า</th>
        <th scope="col">ชื่อสินค้า</th>
        <th scope="col">รายละเอียดสินค้า</th>
        <th scope="col">ประเภทสินค้า</th>
        <th scope="col">ราคาซื้อ</th>
        <th scope="col">ราคาขาย</th>
        <th scope="col">รหัสผู้ผลิต</th>
        <th scope="col">จัดการ</th>
      </tr>
    </thead>
    <tbody>
      {% for item in all_item%}
      <tr>
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.item_type }}</td>
        <td>{{ item.purchase_price }}</td>
        <td>{{ item.sale_price }}</td>
        <td>{{ item.supplier_id }}</td>
        <td>
          <button class="btn btn-warning">
            <i class="fas fa-user-edit"></i> แก้ไขข้อมูล
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
