{% extends "base.html" %} {% block content %}
<div class="mt-4 d-flex">
  <h5 class="align-self-end">
    <i class="fas fa-user-friends"></i> จัดการข้อมูลสต็อกสินค้า
  </h5>
  <a href="{% url 'add_stock' %}" class="btn btn-orange ml-auto"
    ><i class="fas fa-user-plus"></i> เพิ่มสต็อกสินค้าใหม่</a
  >
</div>
<hr class="mt-2 mb-3 hr-orange" />
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">รหัสสต็อกสินค้า</th>
        <th scope="col">รหัสสินค้า</th>
        <th scope="col">สี</th>
        <th scope="col">จำนวนสินค้าในสต็อก</th>
        <th scope="col">จัดการ</th>
      </tr>
    </thead>
    <tbody>
      {% for stock in all_stock%}
      <tr>
        <th scope="row">{{ stock.id }}</th>
        <td>{{ stock.item_id }}</td>
        <td>{{ stock.color }}</td>
        <td>{{ stock.amount }}</td>
        <td>
          <button class="btn btn-warning">
            <i class="fas fa-user-edit"></i> แก้ไขข้อมูล
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
