{% extends "base.html" %} {% block content %}
<div class="mt-4 d-flex">
  <h5 class="align-self-end">
    <i class="fas fa-user-friends"></i> จัดการข้อมูลลูกค้า
  </h5>
  <a href="{% url 'add_customer' %}" class="btn btn-orange ml-auto"
    ><i class="fas fa-user-plus"></i> เพิ่มลูกค้าใหม่</a
  >
</div>
<hr class="mt-2 mb-3 hr-orange" />
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">รหัสลูกค้า</th>
        <th scope="col">ชื่อจริง</th>
        <th scope="col">นามสกุล</th>
        <th scope="col">เบอร์ติดต่อ</th>
        <th scope="col">อีเมล์</th>
        <th scope="col">ที่อยู่</th>
        <th scope="col">จัดการ</th>
      </tr>
    </thead>
    <tbody>
      {% for customer in all_customer%}
      <tr>
        <th scope="row">{{ customer.id }}</th>
        <td>{{ customer.fname }}</td>
        <td>{{ customer.lname }}</td>
        <td>{{ customer.phone }}</td>
        <td>{{ customer.email }}</td>
        <td>{{ customer.address }}</td>
        <td>
          <button class="btn btn-warning">
            <i class="fas fa-user-edit"></i> แก้ไขข้อมูล
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
