{% extends "base.html" %} {% block content %}
<div class="mt-4 d-flex">
  <h5 class="align-self-end">
    <i class="fas fa-user-friends"></i> จัดการข้อมูลผู้ผลิต
  </h5>
  <a href="{% url 'add_supplier' %}" class="btn btn-orange ml-auto"
    ><i class="fas fa-user-plus"></i> เพิ่มผู้ผลิตใหม่</a
  >
</div>
<hr class="mt-3 mb-3" />
<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="thead-dark text-center">
      <tr>
        <th scope="col">รหัสผู้ผลิต</th>
        <th scope="col">ชื่อบริษัท</th>
        <th scope="col">ที่อยู่</th>
        <th scope="col">เบอร์ติดต่อ</th>
        <th scope="col">อีเมล์</th>
        <th scope="col">จัดการ</th>
      </tr>
    </thead>
    <tbody>
      {% for supplier in all_supplier%}
      <tr>
        <th scope="row">{{ supplier.id }}</th>
        <td>{{ supplier.name }}</td>
        <td>{{ supplier.address }}</td>
        <td>{{ supplier.phone }}</td>
        <td>{{ supplier.email }}</td>
        <td>
          <button class="btn btn-warning">
            <i class="fas fa-user-edit"></i> แก้ไขข้อมูล
          </button>
          <button class="btn btn-danger" sup-id="{{ supplier.id }}" onclick='deleteSupplier(this)'>
            <i class="fas fa-trash-alt"></i> ลบข้อมูล
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  function deleteSupplier(event) {
    let id = event.getAttribute('sup-id')
    axios.delete('/manage/supplier/api/delete/' + id + '/')
      .then(function (response) {
        let tr = event.parentElement.parentElement
        tr.remove()
      })
  }
</script>
{% endblock content %}
