{% extends "base.html" %} {% block content %}
<h5 class="mt-4"><i class="fas fa-edit"></i> แก้ไขข้อมูลผู้ผลิตใหม่</h5>
<hr class="my-3 hr-orange" />
<div class="form-group text-dark col-8 mx-auto mt-3">
  <label for="fname">ชื่อบริษัท:</label>
  <input type="text" id="name" class="form-control mt-0 mb-2" name="fname" />
  <p class="text-error" id="error_name"></p>
</div>
<div class="form-group text-dark col-8 mx-auto mt-3">
  <label for="fname">อีเมล:</label>
  <input type="text" id="email" class="form-control mt-0 mb-2" name="fname" />
  <p class="text-error" id="error_email"></p>
</div>
<div class="form-group text-dark col-8 mx-auto mt-3">
  <label for="fname">เบอร์มือถือ:</label>
  <input
    type="text"
    id="phone"
    class="form-control mt-0 mb-2"
    name="fname"
    maxlength="10"
  />
  <p class="text-error" id="error_phone"></p>
</div>
<div class="form-group text-dark col-8 mx-auto mt-3">
  <label for="fname">ที่อยู่:</label>
  <textarea id="address" class="form-control" rows="4"> </textarea>
  <p class="text-error" id="error_address"></p>
</div>
<div class="text-center">
  <button onclick="save()" class="btn btn-success">บันทึกข้อมูล</button>
  <button class="btn btn-danger">ลบข้อมูล</button>
</div>
<script>

  window.onload = function () {
    initialize();
  };

  let supplier_id = {{ id }};
  let user_id = {{ user.id }}

  function initialize() {
    axios.get("/api/supplier/", {params:{id: supplier_id}}).then((response) => {
      document.getElementById('name').value = response.data[0].name
      document.getElementById('email').value = response.data[0].email
      document.getElementById('phone').value = response.data[0].phone
      document.getElementById('address').value = response.data[0].address
    });
  }

  function save() {
    axios.put("/api/supplier/", {
      id: supplier_id,
      name: document.getElementById('name').value,
      email: document.getElementById('email').value,
      phone: document.getElementById('phone').value,
      address: document.getElementById('address').value,
      account_id: user_id
    }).then((response) => {

    }).catch((error) => {
      console.log(error.response.data)
      if (error.response.data.name){
        document.getElementById('error_name').innerText = error.response.data.name[0]
      }
      if (error.response.data.email){
        document.getElementById('error_email').innerText = error.response.data.email[0]
      }
      if (error.response.data.phone){
        document.getElementById('error_phone').innerText = error.response.data.phone[0]
      }
      if (error.response.data.address){
        document.getElementById('error_address').innerText = error.response.data.address[0]
      }
    })
  }
</script>
{% endblock content %}
