{% extends "base.html" %}
{% load static %}

{% block content %}
    <form method="POST" class="w-100" action="{% url 'register' %}">
        {% csrf_token %}
        <h1 class="my-4 text-dark">Register</h1>

        <div class="form-group text-dark">
            <label for="fname">FirstName *</label>
            <input type="text" class="form-control w-100 border rounded bg-light" value="{{fname}}" name='fname' required>
        </div>

        <div class="form-group text-dark">
            <label for="lname">LastName *</label>
            <input type="text" class="form-control w-100 border rounded bg-light" value="{{lname}}" name='lname' required>
        </div>

        <div class="form-group text-dark">
            <label for="email">Email *</label>
            <input type="email" class="form-control w-100 border rounded bg-light" value="{{email}}" name='email' required>
        </div>

        <div class="form-group text-dark">
            <label for="username">Username *</label>
            <input type="text" class="form-control w-100 border rounded bg-light" value="{{username}}" name='username' required>
        </div>

        <div class="form-group text-dark">
            <label for="password">Password *</label>
            <input type="password" class="form-control w-100 border rounded bg-light" value="{{password}}" name='password' required>
        </div>

        <div class="form-group text-dark">
            <label for="phone">Phone *</label>
            <input type="phone" class="form-control w-100 border rounded bg-light" value="{{phone}}" name='phone' required>
        </div>

        <input type="radio" id="owner" name="type" value="owner" checked>
        <label for="owner">Owner</label><br>
        <input type="radio" id="po" name="type" value="po">
        <label for="po">Purchasing Officer</label><br>
        <input type="radio" id="so" name="type" value="so">
        <label for="so">Sale Officer</label>

        <div class="form-group text-dark">
            <label for="shop_name">Shop Name *</label>
            <input type="text" class="form-control w-100 border rounded bg-light" value="{{shop_name}}" name='shop_name' required>
        </div>

        <div class="form-group text-dark">
            <label for="department">Department *</label>
            <input type="text" class="form-control w-100 border rounded bg-light" value="{{department}}" name='department' required>
        </div>

        {% if error %}
          <p class="text-dark">{{error}}</p>
        {% endif %}
        <div class="row">
            <div class="col-md-6 p-1">
                <a href="{% url 'index' %}" class="btn btn-light w-100">Home</a>
            </div>
            <div class="col-md-6 p-1">
                <input type="submit" value="Submit" class="btn btn-dark w-100">
            </div>
        </div>
    </form>
{% endblock %}