{% extends "base.html" %}
{% load static %}

{% block content %}
    <form method="POST" class="w-100" action="{% url 'start' %}">
        {% csrf_token %}
        <h1 class="my-4 text-dark text-center">Hi New (Owner) let's Get Start Now</h1>

        <div class="form-group text-dark">
            <label for="fname">FirstName *</label>
            <input type="text" class="form-control w-100 border rounded bg-light" value="{{fname}}" name='fname' required>
        </div>

        <div class="form-group text-dark">
            <label for="lname">LastName *</label>
            <input type="text" class="form-control w-100 border rounded bg-light" value="{{lname}}" name='lname' required>
        </div>

        <div class="form-group text-dark">
            <label for="email">Email *</label>
            <input type="email" class="form-control w-100 border rounded bg-light" value="{{email}}" name='email' required>
        </div>

        <div class="form-group text-dark">
            <label for="username">Username *</label>
            <input type="text" class="form-control w-100 border rounded bg-light" value="{{username}}" name='username' required>
        </div>

        <div class="form-group text-dark">
            <label for="password">Password *</label>
            <input type="password" class="form-control w-100 border rounded bg-light" value="{{password}}" name='password' required>
        </div>

        <div class="form-group text-dark">
            <label for="phone">Phone *</label>
            <input type="phone" class="form-control w-100 border rounded bg-light" value="{{phone}}" name='phone' required>
        </div>

        <div class="form-group text-dark">
            <label for="shop_name">Shop Name *</label>
            <input type="text" class="form-control w-100 border rounded bg-light" value="{{shop_name}}" name='shop_name' required>
        </div>

        {% if error %}
          <p class="text-dark">{{error}}</p>
        {% endif %}

        <input type="submit" value="Submit" class="btn btn-dark w-100">
    </form>
{% endblock %}