{% extends "base.html" %} {% block content %}
{% comment %} <h1>Send Data</h1>
<h4>รหัสลูกค้า {{ cus_id }}</h4>
<h4>รายการที่สั่ง {{ list_item }}</h4>
<h4>จำนวนชิ้นต่อรายการ {{ items_value }}</h4>
<h4>ราคารวม {{ total_price }}</h4>
<h3 class="mt-4">รายการที่สั่งซื้อ</h3>
<div class="table-responsive mt-4">
  <table class="table table-bordered">
    <thead class="text-center">
      <tr>
        <th scope="col" style="width: 20%;">ชื่อสินค้า</th>
        <th scope="col" style="width: 25%;">รายละเอียดสินค้า</th>
        <th scope="col" style="width: 10%;">สี</th>
        <th scope="col" style="width: 10%;">จำนวน</th>
        <th scope="col" style="width: 10%;">ราคาต่อชิ้น</th>
        <th scope="col" style="width: 10%;">ราคารวม</th>
        <th scope="col" style="width: 5%;">ลบ</th>
      </tr>
    </thead>
    <tbody id="order_list">
      {% for complete in complete_add %}
        <tr>
          <th scope="col" style="width: 10%;"></th>
          <th scope="col" style="width: 15%;">ชื่อสินค้า</th>
          <th scope="col" style="width: 20%;">รายละเอียดสินค้า</th>
          <th scope="col" style="width: 10%;">สี</th>
          <th scope="col" style="width: 10%;">จำนวน</th>
          <th scope="col" style="width: 10%;">ราคาต่อชิ้น</th>
          <th scope="col" style="width: 10%;">ราคารวม</th>
          <th scope="col" style="width: 5%;">ลบ</th>
        </tr>
      {% endfor %}

      <tr id="total_all">
        <th colspan="6" scope="col" style="width: 10%;" class="pl-4">รวมทั้งหมด</th>
        <th colspan="2" scope="col" style="width: 5%;" class="pr-4 text-right">{{ total_price }} บาท</th>
      </tr>
    </tbody>
  </table>
</div> {% endcomment %}
{% endblock content %}